
<div class="panel panel-default">
  <div class="panel-heading">
<h2>Lege deine Location an</h2>
  </div>
  <div class="panel-body">
    <%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h4>Whoops! <%= @location.errors.count %> Fehler haben das Speichern verhindert. </h4>
      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form-group">
        <%= f.label :strasse %>
        <%= f.text_field :strasse, autofocus: true, type: "text", placeholder: "Deine Straße", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :hausnummer %>
        <%= f.text_field :hausnummer, type: "text", placeholder: "Deine Hausnummer", class: "form-control" %>
      </div>

       <div class="form-group">
        <%= f.label :Postleitzahl %>
        <%= f.text_field :plz, type: "text", placeholder: "Deine Postleitzahl", class: "form-control" %>
      </div>

       <div class="form-group">
        <%= f.label :Stadt %>
        <%= f.text_field :stadt, type: "text", placeholder: "Deine Stadt", class: "form-control" %>
      </div>

  

      <div class="actions">
    <%= f.submit "Location erstellen", class: "btn btn-primary" %>
      </div>

  
<% end %>
</div>
 <div class="panel-footer">
<%= link_to 'Zurück', locations_path %>
  </div></div>

